.section-best-sellers {
    &__title {}
    &__cards {}
}

.best-sellers__title-wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-sellers__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
