.btn, a.btn {
    display: inline-block;
    padding: 8px;
    min-width: 185px;
    height: 40px;
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-transform: capitalize;
    text-align: center;
    color: var(--black);

    &_small {
        min-width: unset;
        padding-left: 31px;
        padding-right: 15px;
    }
}